div {
    text-align: center;
    margin: 0 auto;
    width: 1200px;
    
}

div figure {
    display: inline-block;
    margin: 10px 10px;
}

div figure a img {
    width: 300px;
    opacity: 0.8;
    transition-duration: 0.6s;
    
}

div figure a img:hover {
    opacity: 1;
    transition-duration: 0.6s;
}

div figure a{
    color: #293646;
    text-decoration: none;
}