main {
    box-shadow: 0 0 10px;
    margin-top: 15px;
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1, 1);
    transition-duration: 1s;
}

main:hover {
    box-shadow: 0 0 15px grey;
}  

main article {
    text-align: center;
    size: 1.3em;
    margin: 30px 0 0 0;
    padding-top: 20px;
}

main section p {
    text-align: justify;
    margin: 20px 0 0 0;
    border: 5px;
    border-color: #d6d7d9;
    padding: 18px 18px 18px 18px;
    
    
}

main section p img {
    width: 190px;
    float: right;
    margin: 10px 10px 30px 30px;
    box-shadow: 0 0 5px;
}